@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-white;
    -webkit-tap-highlight-color: transparent;
  }

  * {
    @apply scrollbar-thin;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 2px;
  }
}
